#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card > input,button{
  padding:1em;
  margin:1em;
  width:15em;
  height: 1em;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}
.card > button{
  width:6em;
  height:3em;
  background-color: blue;
  color:white;
}
.card {
  padding: 2em;
}


